# dev folders
/.buildozer/
/.gradle/
/.venv/
/.vscode/
/bin/
/opencv/
build/
/datasets/

#tflite model folders
/segnet_155/
/cnn_encoder_188/
/cnn_encoder_236/
/decoder_188/
/transformer_encoder188/

#pycache
**/__pycache__/
*.py[co]

# test file
test.py
commands.txt

# file extensions
*.pth
*.onnx
*.onnx.data
*.pt
*.tflite
*.png
*.jpg
*.pkl
*Zone.Identifier
*.musicxml
*.so
*.pyd
*.c
*.o
_warps_cy.c
*.npy

# dev files
onnx_ser.txt
test.py
todo.md
commands.txt

# include
!icon.png