# dev folders
/.buildozer/
/.gradle/
/.venv/
/.vscode/
/bin/
/opencv/
build/
/test_delaunay/

#tflite model folders
/segnet_155/
/cnn_encoder_188/

#pycache
**/__pycache__/
*.py[co]

# test file
test.py

# file extensions
*.pth
*.onnx
*.pt
*.tflite
*.png
*.pkl
*Zone.Identifier
*.musicxml
*.so
*.pyd
*.c
*.o
_warps_cy.c
*.npy
