# run
numpy==1.26.4
opencv-python-headless==4.7.0.72
typing_extensions==4.14.1
musicxml==1.4
onnxruntime==1.22.1
requests==2.32.5
ai-edge-litert==2.0.2 # Linux/WSL; else: tensorflow==2.19.0
kivy==2.3.1
kivymd==1.2.0
pillow==12.0.0
cython==3.2.3
wheel==0.45.1
